// bower:scss
// endbower

//Font Imports
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,700';

//Variable Definitions
$font-text: 'Open Sans', sans-serif;
$font-headings: 'Oswald', sans-serif;
$light-blue: #2c4364;
$normal-blue: #162336;
$dark-blue: #0b121c;
$normal-orange: #dea76d;

//Main Styles
body{ 
    background:$normal-blue;
    color:white;
    font-family: $font-text;
}
h1, h2, h3, h4, h5 {
    font-family: $font-headings;
    color: $normal-orange;
}
button {
    font-family: $font-headings;
}
.img-circle {
    max-width: 170px;
    border-radius: 50%;
   
}
textarea {
    resize:none;
    height:200px; 
    min-height:200px;  
    max-height:200px;
}
.date-contact p {
    font-size: 24px;
    padding-left: 30px;
}
.date-contact span {
    font-size: 30px;
}
.date-contact-social {
    padding-top:30px;
}
//Basic Styles
footer {
    background-color: black;
    text-align: center;
    line-height: 100px;
}
#nav2 {
    background: $light-blue;

        ul {
            margin: 0 auto;
            text-align: center;

            li{
                float:none;
                display: inline-block;
                a {
                    line-height: 50px;
                    font-size: 20px;
                    text-transform: uppercase;
                    color:white;
                    font-family: $font-text;
                    border:0;
                    padding:10px 20px;
                }
                a:hover {
                    background:none;
                    color:$normal-orange;
                    border:0;
                    margin-left:-27px;
                   
                }
                a:hover:before {
                    content:'';
                    background:url(../images/arrow_small.png) no-repeat;
                    padding-left:27px;
                }
            }
        }
    }