// bower:scss
// endbower

//Font Imports
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,700';

//Variable Definitions
$font-text: 'Open Sans', sans-serif;
$font-headings: 'Oswald', sans-serif;
$light-blue: #335a82;
$normal-blue: #1f4460;
$dark-blue: #162c40;
$normal-orange: #dea76d;

//Baseline Styles
html {
    font-size: 100%;
}
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
    font-weight: bold;
    margin: 0;
}
h1, .alpha {
    font-size: 4.5em;
    line-height: 1;
}
h2, .beta {
    font-size: 2.25em;
    line-height: 1.3333333333333333;
}
h3, .gamma {
    font-size: 1.5em;
    line-height: 1;
    text-transform: uppercase;
}
h4, .delta {
    font-size: 1.3125em;
    line-height: 1.1428571428571428;
}
h5, .epsilon {
    font-size: 1.125em;
    line-height: 1.3333333333333333;
}
h6, .zeta {
    font-size: 1em;
    line-height: 1.5;
}
p,
blockquote {
    font-size: 15px;
    margin: 0;
    line-height: 1.5;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}
dl,
ol,
ul {
    font-size: 1em;
    margin: 0;
    padding: 0;
}
dd,
dt,
li {
    line-height: 1.5;
    margin: 0;
}

//Main Styles
body{
    background:$normal-blue;
    color:white;
    font-family: $font-text;
    padding-top:100px;
    position: relative;
}
h1, h2, h3, h4, h5 {
    font-family: $font-headings;
    color: $normal-orange;
}
button {
    font-family: $font-headings;
}
.img-circle {
    max-width: 170px;
    max-height:170px;
    border-radius: 50%;

}
textarea {
    resize:none;
    height:200px;
    min-height:200px;
    max-height:200px;
}
.date-contact p {
    font-size: 24px;
    padding-left: 30px;
}
.date-contact span {
    font-size: 30px;
}
.date-contact-social {
    padding-top:30px;
}
//Basic Styles
h3 {
    font-size: 24px;
    line-height: 40px;
    padding-bottom: 30px;
  text-align: center;
}
footer {
    background-color: black;
    text-align: center;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.text-center {
  padding-bottom:60px;
}
//main nav
//section#one2one {
//  border-top:50px solid $dark-blue;
//}

//2nd navigation
#nav2 {
    background: $light-blue;

        ul {
            margin: 0 auto;
            text-align: center;

            li{
                float:none;
                display: inline-block;
                a {
                    line-height: 30px;
                    font-size: 16px;
                    text-transform: uppercase;
                    color:white;
                    font-family: $font-text;
                    border:0;
                    padding:10px 40px;
                    margin-left:-27px;
                }
                a:hover {
                    background:none;
                    color:$normal-orange;
                    border:0;
                    margin-left:-27px;

                }
                a.activeHover {
                    color:$normal-orange;
                }
                a:focus {
                    background:none;
                }
            }

        }
    }
.activeHover:before {
    content:'';
    background:url(../images/arrow_small.png) no-repeat;
    padding-left:27px;
    margin-left:-27px;
}

#nav2 ul li.activeHover a{
                    background:none;
                    color:$normal-orange;
                    border:0;
                    margin-left:-27px;
}
.nav-tabs {
    border: none;
}
//left and right text for 3 columns sections
.left-text, .right-text  {
    padding:50px 60px 30px;
    p {
        max-height: 360px;
        margin-bottom:30px;
        overflow: hidden;
    }

}
.right-text {
    //text-align: right;
    background:$dark-blue;
    text-align: center;

  span.align-left {
    display: block;
    text-align: left;
  }

}
.mid-image {
    background:$light-blue;
}
.left-text {
  text-align: center;
    background:$normal-blue;
}
//left and right text for 4 columns sections
.left-mid-text, .right-mid-text {
    padding: 100px 30px 70px 30px;
    p {
        max-height: 360px;
        overflow: hidden;
        margin-bottom: 30px;
        padding-bottom:30px;
        text-align: center;
    }
}
.left-mid-text {
    background:$light-blue;
  text-align: center;
    span.align-left {
    display: block;
    text-align: left;
  }
}
.right-mid-text {
  text-align: center;
    background:$normal-blue;
    //text-align: right;
  span.align-left {
    display: block;
    text-align: left;
  }
}

.container-fluid {
    position:relative;
}
//Section Headings
section#one2one div.cat-title {
  padding-top:-10px;
}

.cat-title {
    text-align: center;
    width:370px;
    margin:0 auto;
    position:absolute;
    z-index: 10;
    left:0;
    right:0;
    top:-50px;
    margin:0 auto;
}
h2 {
    text-align: center;
    background:#1f334f;
    line-height: 100px;
}
.cat-title h2:before {
    content:'';
    background:url(../images/arrow_small.png) no-repeat center;
    padding-left:27px;
}
//main "nav"
.navbar-inverse {
    background:black;
    height:100px;
    margin-bottom: 0;
    .nav-logo a {
        color:white;
        span {
            padding-left:30px;
            font-size: 16px;
        }
        text-decoration: none;
    }
    .nav-logo a:hover {
        color:$normal-orange;
    }
    .row {
        align-items: center;
    }
    .nav-phone, .nav-mail, .nav-fb, .nav-lang {
        line-height: 100px;
        a {
            padding:5px;
            color:white;
            text-decoration: none;
        }
        a:hover {
            color:$normal-orange;
             text-decoration: none;
        }
    }
    .nav-lang a.active{
      color:$normal-orange;
    }
}
.navbar-brand > img {
    display: inline-block;
}

//custom parenting mid text style
#parenting .left-mid-text {
    background-color: $dark-blue;
}

//testimonials
#testimonials {
    background-color: $light-blue;
}
.cat-title-raw {
    margin-bottom:60px;
    h2 {
        background-color: $light-blue;
    }
    p {
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }
}
.thumbnail {
    background-color: $normal-blue;
    border-color: $light-blue;
    box-shadow: 0px 0px 5px black;
    margin-bottom: 45px;
    padding: 20px 0 0;
    max-height: 463px;
    overflow: hidden;
    transition: max-height 0.5s;
    .caption {
        color:white;
        text-align: center;
        padding: 20px 0 0;

        .testimonial-title {
            padding:0 20px 20px;

            h4{
                font-size:24px;
                color: white;
            }
        }
        .testimonial-text {
            background-color:$dark-blue;
            padding:20px;
            cursor: pointer;
        }
    }
}


//contact
#contact {
    background-color:$dark-blue;
    padding-bottom:100px;
    h2{
        background-color: $dark-blue;
    }
    h4{
        font-size: 24px;
        padding:0 0 30px;
        color: white;
      text-align: center;
    }

}
@media (max-width: 767px) {
    .contact-form-right {
        padding-top:30px;
    }
}

//footer
footer.end {
    padding:50px 30px;
}

//buttons
.btn-warning {
    background: none;
    border-color:$normal-orange;
    border-radius: 0;
    border-width: 3px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 700;
    color: $normal-orange;
    padding: 0 30px;
}
.btn-warning:before {
    content:"";
    background: url(../images/arrow_small2.png) no-repeat;
    background-position: center;
    padding-left:20px;
}
.btn-warning:visited {
    background:none !important;
}
.btn-warning:hover {
    background:none;
    border-color:white;
    box-shadow: 0px 0px 5px black;
}
.btn-warning:active {
    background:none !important;
}
.btn-warning:focus {
    background:none !important;
}

//carousel
#myCarousel ol.carousel-indicators {
  bottom:80px;
}
#myCarousel .item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
.item {
    height: 100%;
}
.carousel-caption {
    text-align: center;
    top:40%;
    h1 {
        margin-bottom:10px;
    }
    p{
        font-size:1.75em;
        margin-bottom: 30px;
    }
}

//sideNav
#myScrollSpy {
    position: fixed;
    top:50%;
    right:1%;
    z-index: 100;
    text-align: right;
    .nameSection {
        visibility: hidden;
        background:$dark-blue;
        padding:5px;
        border-radius: 5px;
    }
    li.active span.nameSection {
        visibility: visible;
    }
     .nav > li > a{
        padding:5px;
        line-height: 10px;
         display: inline;
    }

    .nav > li > a:hover {
        background:$normal-orange;
    }
    .nav > li > a:focus {
        background:$normal-orange;
    }


    .nav > li:hover span.nameSection {
        visibility: visible;
    }


    li.active a{
        text-align: center;
        background:$normal-orange;
    }
}
//background Images
#desprenoi .mid-image {
    background-image:url(../images/elena.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
#one2one .left-image{
    background-image:url(../images/one2one_despremine.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
#one2one .right-image{
    background-image:url(../images/one2one_despretine.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
#corporate .mid-image{
    background-image:url(../images/corporate.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
#parenting .left-image{
    background-image:url(../images/parenting_despremine.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
#parenting .right-image{
    background-image:url(../images/parenting_despretine.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

//modals
.modal-body {
    color:black;
    font-size:16px;
    padding:30px;
}
.modal-header h4 {
    padding-left:15px;
}
//afix 2nd navigation
.affix {
    top:100px;
    z-index: 100;
    width:100%;
}

//responsive conditions

/* Medium Devices, Desktops */
    @media only screen and (max-width : 768px) {
        .carousel-caption {
            left:30px;
            margin:0 auto;
            top:60%;
        }
        h3{
          padding-bottom:50px;
        }
        .mid-image, .left-image, .right-image {
          height: 760px;
        }
        .left-text, .right-text, .left-mid-text, .right-mid-text {
          padding-left:120px;
          padding-right: 120px;
          padding-bottom: 100px;
        }
}


@media only screen and (max-width : 480px) {
        .carousel-caption {
            left:30px;
            margin:0 auto;
            top:40%;
            h1 {
                font-size: 3.5em;
            }
            p {
                font-size: 20px;
            }
        }
        .mid-image, .left-image, .right-image {
          height: 500px;
        }
        h3{
          padding-bottom:50px;
        }
        .right-text, .left-text, .right-mid-text, .left-mid-text {
          padding:50px 30px;
        }
        .right-text, .right-mid-text {
          padding-bottom:80px;
        }
        .right-mid-text {
          order:1;
        }
        #corporate h3{
          padding-top:30px;
        }


}
@media only screen and (max-width : 768px) and (orientation:landscape)  {
        .carousel-caption {
            top:10%;
            left:30px;
            h1{
                font-size:3.5em;
            }
            p{
                font-size: 20px;
            }
        }

}
@media only screen and (max-width:1024px) and (orientation:landscape){
    .left-mid-text, .right-mid-text {
      padding-bottom: 100px;
    }
}

//modal fix
.modal-open {
    overflow: visible;
}
.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    padding-right:0px!important;
}
