// bower:scss
// endbower

//Font Imports
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,700';

//Variable Definitions
$font-text: 'Open Sans', sans-serif;
$font-headings: 'Oswald', sans-serif;
$light-blue: #2c4364;
$normal-blue: #162336;
$dark-blue: #0b121c;
$normal-orange: #dea76d;

//Main Styles
body{ 
    background:$light-blue;
    color:white;
    font-family: $font-text;
}
h1, h2, h3, h4, h5 {
    font-family: $font-headings;
    color: $normal-orange;
}
button {
    font-family: $font-headings;
}