<div id="nav2" class="hidden-md hidden-sm hidden-xs">
  <div class="container-fluid">
    <div class="row">
      <ul class="nav nav-tabs center">
        <!--<li><a href="#/" scroll-to="desprenoi" offset="160">Despre tine</a></li>-->
        <!--<li><a href="#/" scroll-to="desprenoi" offset="160">Despre mine</a></li>-->
        <li><a href="#/" scroll-to="slider" offset="160">Home</a></li>
        <li><a href="#/" scroll-to="one2one" offset="200">One 2 one</a></li>
        <li><a href="#/" scroll-to="corporate" offset="180">Corporate</a></li>
        <li><a href="#/" scroll-to="parenting" offset="180">Parents and children</a></li>
        <li><a href="#/" scroll-to="testimonials" offset="140">Testimonials</a></li>
        <li><a href="#/" scroll-to="contact" offset="180">Contact</a></li>
      </ul>
    </div> <!-- row end !-->
  </div><!-- container end !-->
</div>

<div id="slider">
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner fullHeight">
      <div class="item active">
        <img src="images/slide1.jpg" alt="...">
      </div>
      <div class="item">
        <img src="images/slide_2.jpg" alt="...">
      </div>
      <div class="item">
        <img src="images/slide3.jpg" alt="...">
      </div>
      <div class="carousel-caption">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-offset-0 col-md-12 col-sm-12 col-sm-offset-0 col-xs-offset-0 col-xs-12">
              <h1>COACHING &amp; TRAINING</h1>
              <p>to be aware or not to be aware</p>
              <button class="btn btn-warning" scroll-to="desprenoi" offset="160">MORE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="desprenoi">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12 left-text">
        <h3>BEYOND WHAT YOU KNOW</h3>
        <p>
          Each individual acts (and reacts) according to their context. This way, we position ourselves somewhere between reason and emotion. This diffuse amalgam is difficult to quantify and almost impossible to classify into mass profiles.<br> Thus, the contemporary individual is essentially a situational human being in that age, education, status and the spheres of influence are the factors that leave their mark on our unique personality.   <br><br>
          The fact that contemporary individuals belong to the ‘Homo Contextualis’ class places us (whether we are willing to accept it or not) in unique contexts at different stages of our lives. <br>However, we can’t always define these sets of circumstances, which make up our existence, one by one. And that is exactly the obstacle. Consequently, we can’t move on without defining our context. This is why when we are at a crossroads and we come across competent professional assistance, we can’t help but shout: ‘Eureka!’
        </p>
        <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal">
        MORE
        </button>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 mid-image">

      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 right-text">
        <h3>BEYOND WHAT I KNOW</h3>
        <P>
          I strongly believe that each and every one of us is unique. And that is why I will allow myself to hope that the experiences we are going to share will be as unique as our personality. <br>I think when I speak and I speak what I think and that is out of respect for my interlocutor. <br> My best friends are: hard work, not forgetting that there is a human being in front of me and not just a case, my passion for the things that I really believe in and the curiosity about each individual’s inner world. <br><br>I appreciate well-organized work and counteracting superficiality by paying attention to details. Instead of talking about me, I would rather stand by you, get involved and do things that you will remember and that will turn into happy memories.

          </p>
          <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal2">
          MORE
          </button>
      </div>
    </div> <!-- row end !-->
  </div><!-- container end !-->
</section>

<section id="one2one">
  <div class="container-fluid">

    <div class="cat-title">
      <h2>
        ONE 2 ONE
      </h2>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12 left-image">

      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 left-mid-text">
        <h3>Taking another look</h3>
        <p>I have never encountered somebody who is able to act a part in their own story and be a spectator at the same time. The members of the ‘Homo Contextualis’ class have difficulty in analysing their circumstances and in making the right decision when they attempt to assume this dual role. <br><br>
          The best solutions have always lain in a team formula: sportsperson-coach, apprentice-master. The potential of their relationship grows when the members establish a rapport based on equality as nobody could possibly know their own path better than my interlocutor. That is why, following a coaching session, you will be the one who:<br>

        </p>
        <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal3">
          MORE
        </button>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 right-mid-text">
        <h3>TALKING HONESTLY</h3>
        <p>When it comes to the crunch, you need somebody who can take a step back in order to analyse your unique context with detachment; and all this so that you can take a step forward.<br/><br/>
          When:<br>
          <span class="align-left">

          &nbsp; &nbsp; &#8226;	you deal with a difficult situation at work and you try to overcome it<br>
          &nbsp; &nbsp; &#8226; your colleagues or managers often ignore your point of view<br>
          &nbsp; &nbsp; &#8226; you keep putting off the decision to leave your job<br>
          &nbsp; &nbsp; &#8226;	your current job has proved to be different than what you would like to do and you no longer identify with it <br>
          </span>
        </p>
        <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal4">
          MORE
        </button>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 right-image">

      </div>
    </div> <!-- row end !-->
  </div><!-- container end !-->
</section>
<section id="corporate">
  <div class="container-fluid">
    <div class="row">
      <div class="cat-title"><h2>CORPORATE</h2></div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12 left-text">
        <h3>From team player to coach</h3>
        <p>In whatever situation we may find ourselves in, it is important to define our own context and take a step back.<br> And if we compare our activity to a team sport, then the sportspeople need a coach in both trying times and moments of glory. <br>

          <br/><br/>
          If we were to have the big picture and the corresponding training, we could use people’s resources and those of their organisations in order to overcome different obstacles.<br> This way, we could further develop the necessary skills to come up with solutions. The dynamics of a team provides precious information on the emotional potential of its members. The coach has one mission, that of discovering latent resources and capitalizing on them with the help of the teammates because the (joint effort of the) team always means more than simply adding up the individual contribution of each member.

        </p>
        <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal5">
          MORE
        </button>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 mid-image">

      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 right-text">
        <h3>From coach to team player</h3>
        <p>
          The art of selling – from amateurs to professionals<br/><br/>
          <span class="align-left">

            Programmes:<br>
          &nbsp; &nbsp; &#8226; Creating a client/ product portfolio<br>
          (open workshop – duration: 2 days)<br>
          &nbsp; &nbsp; &#8226; Building up a portfolio versus achieving customer loyalty<br>
          (open workshop – duration: 2 days)<br>
          &nbsp; &nbsp; &#8226; Time management – efficiency and deadlines<br>
          (open workshop – duration: 2 days)<br>
          &nbsp; &nbsp; &#8226; Client service: from filing complaints to expressing satisfaction<br>
          (open workshop – duration: 1 day)<br>
          &nbsp; &nbsp; &#8226; Dealing with difficult clients – new business opportunities<br>
          (open workshop – duration: 1 day)<br>
          Corporate/ organizational methodology <br>
</span>
        </p>
        <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal6">
          MORE
        </button>
      </div>
    </div> <!-- row end !-->
  </div><!-- container end !-->
</section>
<section id="parenting">
  <div class="container-fluid">
    <div class="row">
      <div class="cat-title"><h2>PARENTS AND CHILDREN</h2></div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12 left-image">

      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 left-mid-text">
        <h3>AND WHAT ABOUT OUR TIME?</h3>
        <p>Time is one of the fiercest enemies parents have nowadays.<br/>
          They want to prolong the moments they spend with their offspring, wishing for more quality time. <br><br/>
          Parents no longer succeed in making time for their children, either from a temporal or an emotional standpoint.<br/>
          Their individual contexts, especially the professional ones, undermine their ability to concentrate on the big picture and their creative thinking in those situations they are dealing with.<br/>
          As a consequence, both parents and children may inhibit their natural wish to know more, to express themselves through art, to assimilate new things and grow.<br/><br/>
          Everything that happens with a child at a given time and place is deeply influenced by everything that occurs before...and afterwards.<br/><br/>
        </p>
        <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal7">
         MORE
        </button>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 right-mid-text">
        <h3>Confirmed values</h3>
        <p>
          The coaching sessions through art are either individual or group meetings.<br><br>
          <br><br>
          <span class="align-left">

             When you have a child that:<br>
          &nbsp; &nbsp; &#8226;	often gets bored<br>
          &nbsp; &nbsp; &#8226;	is untidy or is not well-behaved<br>
          &nbsp; &nbsp; &#8226;	spends too much time using modern technology (phone, tablet, laptop, computer)<br>
          &nbsp; &nbsp; &#8226;	often ignores you and wants to do something else than what he is being asked <br>
          &nbsp; &nbsp; &#8226;	has a lot of energy and few ways to use it<br><br>
          ...then the Solution-Focused Coaching sessions through art are what you need.<br><br>

          </span>
        </p>
        <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal8">
          MORE
        </button>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 right-image">

      </div>
    </div> <!-- row end !-->
  </div><!-- container end !-->
</section>
<section id="testimonials">
  <div class="container">
    <div class="row">
      <div class="cat-title-raw">
        <h2>TESTIMONIALS</h2>
        <p>Throughout two decades I have encountered, worked on and completed major projects and various situations caused by some limitations (on a personal and professional level), some difficulties and deadlines. <br>
          In the portfolio below you can find a couple of opinions belonging to the people I have teamed up with in order to solve their different cases:</p>
      </div>
    </div><!-- row end !-->
    <div class="row">
      <div class="testimonials-card col-md-4 col-md-push-0 col-sm-push-2 col-sm-8 col-xs-push-0 col-xs-12">
        <div class="thumbnail">
          <img src="images/testimonial2_dragos_bunescu.jpg" class="img-circle">
          <div class="caption">
            <div class="testimonial-title">
              <h4>Dragoș Bunescu</h4>
              <p>Seven Card Commercial Director</p>
            </div>
            <p class="testimonial-text">‘You’ll meet a person like this only once in a lifetime. If you want to learn, that is to know, you will be hers…The way I am Elena’s. She’s helped me understand some aspects, details, which seemed like “bogeyman” itself to me. How has Elena helped me get rid of “bogeyman”? By having a lot of patience, perseverance and by adapting herself precisely because I am not “the best-behaved client”. Starting from our professional collaboration, Elena has also built up a friendship based on respect.’
              "</p>
          </div>
        </div>
      </div>
      <div class="testimonials-card col-md-4 col-md-push-0 col-sm-push-2 col-sm-8 col-xs-push-0 col-xs-12">
        <div class="thumbnail">
          <img src="images/testimonial1_oana_stanila.jpg" class="img-circle">
          <div class="caption">
            <div class="testimonial-title">
              <h4>Oana Stănilă</h4>
              <p>Associate Professor, A.S.E.</p>
            </div>
            <p class="testimonial-text">‘Thank you so much for everything you’ve done! For all the instructive and amusing workshops for children that you’ve held with so much love but also for your joy and special approach to sharing some of your artistic expertise with the little ones.<br>
              I’ll tell you one thing: Victoria was absolutely charmed from the very beginning!’

            </p>
          </div>
        </div>
      </div>
      <div class="testimonials-card col-md-4 col-md-push-0 col-sm-push-2 col-sm-8 col-xs-push-0 col-xs-12">
        <div class="thumbnail">
          <img src="images/testimonial3_andrei_mihai.jpg" class="img-circle">
          <div class="caption">
            <div class="testimonial-title">
              <h4>Andrei Mihai</h4>
              <p>Area Sales Manager</p>
            </div>
            <p class="testimonial-text">
              ‘I’ll sum up my perception of the facilitator: energetic, dynamic, empathetic. And now I’ll give you more details: let’s assume we’re talking about music. <br>
              In this case, the mimicry, the gestures, the movements of your hands must follow the music. This approach makes the audience believe in you more. In a nutshell: it’s all about passion!’
              "</p>
          </div>
        </div>
      </div>
    </div><!-- row end !-->
  </div><!-- container end !-->
</section>
<section id="contact">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h2>CONTACT</h2>
        <p class="text-center">I invite you to write to me and share your stories.
        </p>

      </div>
    </div><!-- row end !-->
    <div class="row">
      <div class="col-sm-5 col-xs-12">
        <h4>Contact form:</h4>
        <form name="contactForm" ng-submit="$ctrl.clickedMe(params)">
          <div class="form-group">
            <input type="text" ng-model="params.firstName" name="firstName" class="form-control" placeholder="Nume" required>
          </div>
          <div class="form-group">
            <input type="email" ng-model="params.emailAddress" name="emailAddress" class="form-control" placeholder="E-mail" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" ng-model="params.emailText" name="emailText" id="text" placeholder="Introduceti textul"></textarea>
          </div>
          <button type="submit" class="btn btn-default">Send</button>
        </form>
      </div>
      <div class="col-sm-6 col-sm-offset-1 col-xs-12 contact-form-right">
        <h4>Contact details:</h4>
        <div class="row date-contact">
          <div class="col-sm-1 col-xs-1 col-lg-offset-3">
            <span class="glyphicon glyphicon-phone"></span>
          </div>
          <div class="col-sm-8 col-xs-8">
            <p>
              +40 744 555 123
            </p>
          </div>
        </div><br/>
        <div class="row date-contact">
          <div class="col-sm-1 col-xs-1 col-lg-offset-3">
            <span class="glyphicon glyphicon-envelope"></span>
          </div>
          <div class="col-sm-8 col-xs-8">
            <p>
              mail@re-minder.ro
            </p>
          </div>
        </div>
        <div class="row date-contact-social">
          <div class="col-sm-2 col-xs-4 col-lg-offset-3">
            <a href="#"><img src="images/fb_icon_big.png"></a>
          </div>
          <div class="col-sm-2 col-xs-4">
            <a href="#"><img src="images/whapp_icon_big.png"></a>
          </div>
          <div class="col-sm-2 col-xs-4">
            <a href="#"><img src="images/skype_icon_big.png"></a>
          </div>
        </div>
      </div>
    </div><!-- row end !-->
  </div><!-- container end !-->
</section>
<footer class="end">
  <p>© Lorem ipsum dolor sit amet, consectetur adipisicing elit </p>
</footer>

<!-- ................ modals................ -->
<!-- ................................ -->
<!-- ................................ -->

<!-- modal despre tine -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">BEYOND WHAT YOU KNOW</h4>
      </div>
      <div class="modal-body">

        Each individual acts (and reacts) according to their context. This way, we position ourselves somewhere between reason and emotion.<br/>
        This diffuse amalgam is difficult to quantify and almost impossible to classify into mass profiles. Thus, the contemporary individual is essentially a situational human being in that age, education, status and the spheres of influence are the factors that leave their mark on our unique personality.   <br/><br/>
        The fact that contemporary individuals belong to the ‘Homo Contextualis’ class places us (whether we are willing to accept it or not) in unique contexts at different stages of our lives. <br/>
        However, we can’t always define these sets of circumstances, which make up our existence, one by one.<br/>
        And that is exactly the obstacle. Consequently, we can’t move on without defining our context. This is why when we are at a crossroads and we come across competent professional assistance, we can’t help but shout: ‘Eureka!’<br/><br/>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal despre mine-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">BEYOND WHAT YOU KNOW</h4>
      </div>
      <div class="modal-body">

        I strongly believe that each and every one of us is unique. And that is why I will allow myself to hope that the experiences we are going to share will be as unique as our personality. I think when I speak and I speak what I think and that is out of respect for my interlocutor.  My best friends are: hard work, not forgetting that there is a human being in front of me and not just a case, my passion for the things that I really believe in and the curiosity about each individual’s inner world. I appreciate well-organized work and counteracting superficiality by paying attention to details. Instead of talking about me, I would rather stand by you, get involved and do things that you will remember and that will turn into happy memories.<br><br>
        The activities that support my work as a coach and a trainer include: my accumulation of over 10,000 hours of consultancy during 17 years of expertise in Romanian and multinational companies, my participation in several trainings and workshops (NLP, time management, client management, negotiation techniques, follow-up strategies, B2B, recruitment, performance improvement, LIFO classes, business ethics), my initiation of children’s projects since I was a university student, my enrolment on national and international traineeships (floral art classes, Lyon, France; Solution-Focused Brief Coaching), my  journalism, communication sciences, psychology and sociology studies.


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal One2One tine-->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">TAKING ANOTHER LOOK</h4>
      </div>
      <div class="modal-body">

        I have never encountered somebody who is able to act a part in their own story and be a spectator at the same time. The members of the ‘Homo Contextualis’ class have difficulty in analysing their circumstances and in making the right decision when they attempt to assume this dual role. <br><br>
        The best solutions have always lain in a team formula: sportsperson-coach, apprentice-master. The potential of their relationship grows when the members establish a rapport based on equality as nobody could possibly know their own path better than my interlocutor. That is why, following a coaching session, you will be the one who:<br>
        &nbsp; &nbsp; &#8226; shows initiative and makes decisions<br>
        &nbsp; &nbsp; &#8226; comes up with solutions<br>
        &nbsp; &nbsp; &#8226; clarifies the steps to take and the path to followt<br>
        &nbsp; &nbsp; &#8226; discovers the way to act and takes action<br>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal One2One mine-->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">TALKING HONESTLY</h4>
      </div>
      <div class="modal-body">

        When it comes to the crunch, you need somebody who can take a step back in order to analyse your unique context with detachment; and all this so that you can take a step forward.<br/><br/>
        When:<br>


        &nbsp; &nbsp; &#8226; you deal with a difficult situation at work and you try to overcome it<br>
        &nbsp; &nbsp; &#8226; your colleagues or managers often ignore your point of view <br>
        &nbsp; &nbsp; &#8226;	you keep putting off the decision to leave your job<br>
        &nbsp; &nbsp; &#8226;		your current job has proved to be different than what you would like to do and you no longer identify with it <br>
        &nbsp; &nbsp; &#8226;	the relationship you have with your family is tense or hard to manage and you want to rediscover the path to striking a balance<br>

        ...then the Solution-Focused Coaching sessions are what you need.<br><br>
        The Solution-Focused Coaching is a simple and direct process between teammates (coach-client). Each session will last 60 minutes and will help us to:<br>
        &nbsp; &nbsp; &#8226;	get to the bottom of the situation and gain an understanding of it<br>
        &nbsp; &nbsp; &#8226;	focus on what works for you<br>
        &nbsp; &nbsp; &#8226;	rediscover and make use of your resources<br>
        &nbsp; &nbsp; &#8226;	find solutions<br>
        &nbsp; &nbsp; &#8226;	use two powerful tools:
        your thoughts and words to reshape reality
        <br><br>

        This approach gives you time for reflection; the process is a short-term one and it has a significant impact.


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal Corporate tine-->
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">FROM TEAM PLAYER TO COACH</h4>
      </div>
      <div class="modal-body">

        In whatever situation we may find ourselves in, it is important to define our own context and take a step back. And if we compare our activity to a team sport, then the sportspeople need a coach in both trying times and moments of glory.
        <br/><br/>
        If we were to have the big picture and the corresponding training, we could use people’s resources and those of their organisations in order to overcome different obstacles. This way, we could further develop the necessary skills to come up with solutions. The dynamics of a team provides precious information on the emotional potential of its members. The coach has one mission, that of discovering latent resources and capitalizing on them with the help of the teammates because the (joint effort of the) team always means more than simply adding up the individual contribution of each member.         <br>                                                         Misiunea antrenorului este de a descoperi resurse latente și a le valorifica în echipă întrucât aceasta reprezintă întotdeauna mai mult decât însumarea efortului fiecărui membru în parte.<br><br>
        The coaching sessions are what you need if:

        &nbsp; &nbsp; &#8226;	you are a manager in your first 3 months <br>
        &nbsp; &nbsp; &#8226;	as a manager you deal with difficult situations<br>
        &nbsp; &nbsp; &#8226; you take on new projects, roles or missions<br>
        &nbsp; &nbsp; &#8226;	you deal with a tense atmosphere in your team <br>
        &nbsp; &nbsp; &#8226;	you want to (re)build your team <br>
        &nbsp; &nbsp; &#8226;	you would like to form successful, long-term partnerships<br><br>

        The solution-focused coaching programme will help us to:<br>
        &nbsp; &nbsp; &#8226;	achieve an inner balance that leads to taking constructive actions<br>
        &nbsp; &nbsp; &#8226;	understand the purpose of resilience as part of the relationship with our subordinates/ superiors and clients<br>
        &nbsp; &nbsp; &#8226;	gradually reach your potential <br>
        &nbsp; &nbsp; &#8226;	discover your resources<br>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal Corporate mine-->
<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">FROM COACH TO TEAM PLAYER</h4>
      </div>
      <div class="modal-body">

        The art of selling – from amateurs to professionals<br/><br/>
        &nbsp; &nbsp; &#8226; Creating a client/ product portfolio<br>
        (open workshop – duration: 2 days)<br>
        &nbsp; &nbsp; &#8226; Building up a portfolio versus achieving customer loyalty<br>
        (open workshop – duration: 2 days)<br>
        &nbsp; &nbsp; &#8226; Time management – efficiency and deadlines<br>
        (open workshop – duration: 2 days)<br>
        &nbsp; &nbsp; &#8226; Client service: from filing complaints to expressing satisfaction<br>
        (open workshop – duration: 1 day)<br>
        &nbsp; &nbsp; &#8226; Dealing with difficult clients – new business opportunities<br>
        (open workshop – duration: 1 day)<br>
        Corporate/ organizational methodology <br><br>

        <img class="img-responsive" src="../../images/corporate_fig1.png"><br><br>
        Relating to the others and to ourselves<br><br>
        Programmes:<br>
        &nbsp; &nbsp; &#8226;	Conflict management<br>
        (open workshop – duration: 2 days)<br>
        &nbsp; &nbsp; &#8226;	Resilience: from colleagues to clients – bridging the gap between generations<br>
        (open workshop – duration: 2 days)<br>
        &nbsp; &nbsp; &#8226;	Passion and motivation – beyond responsibilities and deadlines<br>
        (open workshop – duration: 1 day)<br>
        Corporate/ organizational methodology <br><br>
        <img class="img-responsive" src="../../images/corporate_fig2.png">


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal Parenting tine-->
<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">AND WHAT ABOUT OUR TIME?</h4>
      </div>
      <div class="modal-body">


        <p>Time is one of the fiercest enemies parents have nowadays. They want to prolong the moments they spend with their offspring, wishing for more quality time.<br/><br/>
          Parents no longer succeed in making time for their children, either from a temporal or an emotional standpoint. Their individual contexts, especially the professional ones, undermine their ability to concentrate on the big picture and their creative thinking in those situations they are dealing with. As a consequence, both parents and children may inhibit their natural wish to know more, to express themselves through art, to assimilate new things and grow.<br/><br/>
          Everything that happens with a child at a given time and place is deeply influenced by everything that occurs before...and afterwards.<br/><br/>
          All parents have started their lives being children and everything they have accumulated may leave its mark on their offspring. In the coaching sessions through art, my guiding and fundamental principle is teamwork in a trilateral relationship based on equality: child-parent-coach. First and foremost, we will have a meeting in which we assess everybody’s needs, we understand what we want to accomplish and we draw up a plan of action together.  <br/><br/>
          <br/><br/>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal Parenting mine-->
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">CONFIRMED VALUES</h4>
      </div>
      <div class="modal-body">

        The coaching sessions through art are either individual or group meetings.<br><br>
        When you have a child that:<br>
        &nbsp; &nbsp; &#8226;	often gets bored<br>
        &nbsp; &nbsp; &#8226;	is untidy or is not well-behaved<br>
        &nbsp; &nbsp; &#8226;	spends too much time using modern technology (phone, tablet, laptop, computer)<br>
        &nbsp; &nbsp; &#8226;	often ignores you and wants to do something else than what he is being asked <br>
        &nbsp; &nbsp; &#8226;	has a lot of energy and few ways to use it<br><br>
        ...then the Solution-Focused Coaching sessions through art are what you need.<br><br>
        The coaching sessions through art (which are customisable according to the context) create an emotional atmosphere that helps the participants (both parents and children): <br>
        &nbsp; &nbsp; &#8226;	become self-confident  enough to open their minds and hearts to new ideas<br>
        &nbsp; &nbsp; &#8226;	take responsibility and be self-disciplined <br>
        &nbsp; &nbsp; &#8226;	believe in themselves and in what they can accomplish <br>
        &nbsp; &nbsp; &#8226;	pay more attention to people’s feelings and opinions and listen to the others rather than keep talking<br>
        &nbsp; &nbsp; &#8226;	find themselves in the various coaching-through-art activities <br>
        &nbsp; &nbsp; &#8226;	discover hidden talents that can lead to great achievements<br>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal Email true -->
<div class="modal fade" id="myModalMail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">E-mail notification</h4>
      </div>
      <div class="modal-body">
       Your e-mail has been sent successfully.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modal Email false -->
<div class="modal fade" id="myModalMailError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">E-mail notification</h4>
      </div>
      <div class="modal-body">
        Your e-mail has not been sent. Please verify your connection and try again.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
