<div id="slider">
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner fullHeight">
            <div class="item active">
              <img src="../../images/slide1.jpg" alt="...">
            </div>
            <div class="item">
              <img src="../../images/slide_2.jpg" alt="...">
            </div>
            <div class="item">
              <img src="../../images/slide3.jpg" alt="...">
            </div>
              <div class="carousel-caption">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-offset-7 col-lg-5 col-md-offset-0 col-md-12 col-sm-12 col-sm-offset-0 col-xs-offset-0 col-xs-12">
                                  <h1>COACHING &amp; TRAINING</h1>
                                  <p>to be aware or not to be</p>
                                  <button class="btn btn-warning" scroll-to="desprenoi" offset="160">MORE</button>
                           </div>
                        </div>
                    </div>
              </div>
          </div>
    </div>
</div>

<div id="nav2" class="hidden-md hidden-sm hidden-xs">
    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-tabs center">
                <li><a href="#/" scroll-to="desprenoi" offset="160">About you</a></li>
                <li><a href="#/" scroll-to="desprenoi" offset="160">About me</a></li>
            </ul>
         </div> <!-- row end !-->
    </div><!-- container end !-->
</div>
<section id="desprenoi">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 left-text">
                <h3>Beyond what you know</h3>
                <p>
                  Have you lately thought about you being included in behavioural tables is purely artifficial?<br/><br/>
                  The truth is that people, taken one by one, ar not hundred percent profound/superfficial, analytical/instinctive, effusive/restrained. They are - rocket scientists and ticket controllers equally included - unique, incompareable and unrepeatable. <br/><br/>
                  Each and every individual acts - and reacts – depending on a specific context, based on a difuse fusion of inferences and emotions. This blend is hard to compute and almost impossible to „pigeonhole”. <br/><br/>
                  The only reasonably acceptable statement would be that the nowadays humans are fundementally situational. Regardless his or her age, education, social status and influential circles. In fact, all these traits, along with many other factors, irrevocably define each individual’s personality. <br/><br/>
                  Holding an affiliation card to „Homo contextualis” hyperclass is what you’re having in common with the ones around you. <br/><br/>
                  Contemporary individuals are positioned themselves - or positioned by others, against their own will - in unique contexts, at different times. The problem is that he or she does not always succeed in defining those contexts. Which come one after another, assembling together his or her own existence.<br/><br/>
                  Therefore, prior to any self-evaluation process, the first step is paramount. It consists in defining the personal context.

</p>
                <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal">
                    MORE
                </button>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 mid-image">

            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 right-text">
                <h3>Beyond what I know</h3>
                <P>
                  I have to confess: I find not easy at all to describe myself. That is not because I wouldn’t have a lot to tell about my experience as a coaching practitioner. But instead of talking, I usually choose to actually be there, to do things that the others will remember of.<br/><br/>
                  I also have to admit: I am not, and never have been, an easy handling one. I think about what I’m saying and I say what I am thinking of. Out of respect for the one I’m talking to. Even when my words are not exactly those who the other wants to hear. I take that risk.<br/><br/>
                  I am a perfectionist, a comprehensive and fair keen-observer, critical primarily with myself. I don’t choose the easy way in finding solutions. I rather look for the paths that give me confidence in perspectives. Or the perspective of assurance.<br/><br/>
                  I hardly obey an authority, unless behind it there are individuals I appraise and whose actions  prove their value winthin out-of-the ordinary contexts. <br/><br/>
                  I trully believe in fair-play and I stand on defensive when someone is trying to sweep away a rival by unequal weaponery or by unfair means. <br/><br/>
                  I have the solid conviction that each individual is unique, incomparable and unreapeatable, therefore I indulge myself to hope that the experiences I will share with any of them will be alike.<br/><br/>

                </p>
                <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal2">
                    MORE
                </button>
            </div>
        </div> <!-- row end !-->
    </div><!-- container end !-->
</section>
<section id="one2one">
    <div class="container-fluid">

            <div class="cat-title">
                <h2>
                    ONE TO ONE
                </h2>
            </div>

        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12 left-image">

            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 left-mid-text">
                <h3>Watching in a different light</h3>
                <p>„My own life” is a tag that lost through recent times both its atributes of differentiation and the inner power of singularity.  One of the causes of this process is each one’s positioning in a „frame of reference”. <br/><br/>
                No one can live with the feelling of having everything. Nor with the impression of being easy to give up everything. That’s because one cannot belong to himself or herself hundred percent. The impact that everyone around you has upon your own being may sometimes lead to trublesome consequences: lack of accuracy and effectiveness in communication, futile regrets, less intense aspirations, painfully breakups and so on.
                The opposite way to look around is nevertheless sustainable. You may also have your own role, sometimes compelling, over the ones you relate with. The „frames of reference” multiply themselves, become layers, break apart and rejoin in different shapes. <br/><br/>
                „Homo Contextualis” has problems that cannot be solved by building understructures made out of alikeness. Your dilemas and states of anguish will never be identical with someone else’s. Consequently, your set of solutions to wipe out will never be the same with someone else’s. When you find yourself in a tight corner, you need someone able to take a step back, in order to keep an eye on and objectively evaluate your self-context. <br/><br/>
                </p>
                <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal3">
                     MORE
                </button>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 right-mid-text">
                <h3>Between you and me...</h3>
                <p>I have never met so far someone to simultaneously be an actor in his or hers play and a spectator of it. „Homo Conextualis” encounters barriers in evaluating a contex and finding the right solution when trying to duplicate. <br/><br/>
                Today, we can find the best keys for removing these obstacles in a co-op formula: sportsman-coach, candidate – mentor, attendant – master. aspirant-îndrumător, discipol-maestru. The The relationship’s potentiality grows when the two of them proclaim to be equal on every account. <br/><br/>
                The inner power of the coaching process resides in the space created between the willing to change and the fear that the change would never happen. „I am the best , but you are the best too.” is the credo which I share with my client whenever I start a new coaching session. <br/><br/>
                No one knows better his or hers past, attempts, failures, emotions, thoughts and feelings than the person in front of me. He or she is the one to take decisions for the future. I support, from outside the personal frame, the effort to define the context. <br/><br/>
                </p>
                <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal4">
                     MORE
                </button>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 right-image">

            </div>
        </div> <!-- row end !-->
    </div><!-- container end !-->
</section>
<section id="corporate">
    <div class="container-fluid">
        <div class="row">
            <div class="cat-title"><h2>CORPORATE</h2></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 left-text">
                <h3>Inside-out</h3>
                <p>  Apparently, the easiest definition for „Homo Conextualis” to phrase is the one reffering to its own professional biosphere.<br/><br/>
                  To define – yes. But not to evaluate. Even in large organisations, or especially within them, the hierarchies, positions and compatibilities are somehow well-established. Or they should be. At least on the surface.<br/><br/>
                  Today, in almost every corporate structure, there is an almost cinical rule which reveals a tough inner reality: „The graveyards are full of indispensable men”.
                  Regardless your position within an hierarchy, the horizontal and vertical inter-connectivity may bring into settings in which both personal and professional relations, together with your fulfillment, may be affected.<br/><br/>
                  An organisation’s positioning on a collective marketplace might be easy to outline. To put into practice principles that lead to profficent results by eliminating malfunctions – this process could be harder.<br/><br/>
                  Defining the context, both individual and as part of a group, becomes crucial. Taking a step back becomes a must.<br/><br/>
                </p>
                <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal5">
                     MORE
                </button>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 mid-image">

            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 right-text">
                <h3>Outside-in</h3>
                <P>The teams, the jobs, horizontally and vertically built relationships, professional responsabilities, even the coffee breaks gossip – all these have complex attributes, sometimes hard to deal with. Because – remember? – no context is identical to another.
                Finding the access key to humans’ and organistaions’ resources implies expertise and the ability to see the whole picture. <br/><br/>
                The main objective I follow when my help and expertise are called for is to make the teeams, and the people who make the teams to dvelop their capacity to solve the problems are confronted with by themselves. <br/><br/>
                Finding the path to focus on, gathering relevant information, putting the finger on common likes and dislikes pinpoiting the details, are some of my main priorities when working with a team.<br/><br/>
                I never forget to bring to the surface topics that are meant not to be discussed. By doing this, I find unexpected, creative in order to redifine an entire setup.
                The dynamics of a team are of a high relevance in evaluating a team’s emotional adequacy, which may not always be positive.<br/><br/>
                </P>
                <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal6">
                    MORE
                </button>
            </div>
        </div> <!-- row end !-->
    </div><!-- container end !-->
</section>
<section id="parenting">
    <div class="container-fluid">
        <div class="row">
            <div class="cat-title"><h2>PARENTING</h2></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12 left-image">

            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 left-mid-text">
                <h3>Got time?</h3>
                <p>  One of the most terrible enemies confronting nowadays parents is time.  <br/><br/>
                  They don’t search, as Proust did, for their lost time. They don’t want just to regain. They want even more. They want to inflate the days, the hours, even the minutes spent together with the ones they gave birth to.<br/><br/>
                  A reality hard to swallow for „Homo Contextualis” is that she or he doesn’t anymore find the time – as a unit of measurement, but also as an emotional dimension – for her or his own children.<br/><br/>
                  The individual contexts, especially the proffessional ones, undermine their resources of lateral, creative thinking, which they wish to share.<br/><br/>
                  The sequel? A child may witness parents’ dissatisfactions, sorrows or outbreaks. A child may put a self-embargo on his or hers natural will to apprehend, to assimilate, sometimes to perform.<br/><br/>
                </p>
                <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal7">
                     MORE
                </button>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 right-mid-text">
                <h3>Deep-seated values</h3>
                <p>It might sound like a clichee, but no one stepped into life as a parent for children, but bearing the condition of a child for his or her parents. The way a mother and a father behave within their daily routine, the values that guide them, their aspirations or their unconfessed bitterness – all these become once and for all marks for their kids or teens. And they will precisely and inevitable influence their destinies. <br/><br/>
                It’s not easy at all to manage a „proffesional” relationship with a pampered, bumpy, or vulnerable child. Nor with parents overloaded with responsabilities. Frustred by their lack of time for their own children. <br/><br/>
                I have the profound conviction that such contexts can be changed and improved. As long as we are willingly to frame a team. In which to act as equals. Our mature experiences confirm the fact that some childs suffer from the fear of exposure, which inhibits communication and, consequently, diminishes the longing for a change.<br/><br/>
                Hopefully, we will always have a three-pillared relationship. And we will always pick up together the place and the time period that will give to all the involved full confidence.<br/><br/>
                </p>
                <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal8">
                    MORE
                </button>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 right-image">

            </div>
        </div> <!-- row end !-->
    </div><!-- container end !-->
</section>
<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class="cat-title-raw">
                <h2>TESTIMONIALS</h2>
                <p>I indulged myself - thank you, mr. Zuckerberg, for the idea -
              to create my own collection of professional encounters. I called it "My pro- casebook". The words coming from such people made me to gain and share reliability.
               </p>
            </div>
        </div><!-- row end !-->
      <div class="row">
        <div class="testimonials-card col-md-4 col-md-push-0 col-sm-push-2 col-sm-8 col-xs-push-0 col-xs-12">
          <div class="thumbnail">
            <img src="../../images/testimonial2_dragos_bunescu.jpg" class="img-circle">
            <div class="caption">
              <div class="testimonial-title">
                <h4>Dragoș Bunescu</h4>
                <p>Commercial Director Seven Card</p>
              </div>
              <p class="testimonial-text">“You have the chance to meet such a coach once in a lifetime<br>
                If you want to know... I mean if you want to find out... you belong to her. In such a way that belong to Elena. 13 years have passed away and I still wonder how many of us are aware from whow they have learnt more than two or three years ago.... Elena helped me in understanding some of my own life’s „details” which, for myself, were Boogeyman’s impersonation. How did Elena helped me to dismiss Boogeyman? By being patient, tenacios and flexible. Because I have to admit I’m not the most „tranquillo” client. Above all, Elena has built a relationship based on good will and mutual respect. I ask her for an advice – I get it. Either is something within the industry I’m working in, or something about people in general. I don’t buy anything because I belong to her.
                "</p>
            </div>
          </div>
        </div>
        <div class="testimonials-card col-md-4 col-md-push-0 col-sm-push-2 col-sm-8 col-xs-push-0 col-xs-12">
          <div class="thumbnail">
            <img src="../../images/testimonial1_oana_stanila.jpg" class="img-circle">
            <div class="caption">
              <div class="testimonial-title">
                <h4>Oana Stănilă</h4>
                <p>Univ. Lecturer Dr., A.S.E.</p>
              </div>
              <p class="testimonial-text">“Thank you very much for everything!<br>

                For the love you’ve brought into so many educational yet funny activities for the children, as well as for the joy of sharing with the little ones your experience in the artistic field. I have to tell you that you’ve won my daughter’s heart, Victoria, from the very beggining.
                For her, all your encounters were lessons of patience, cherriness, teamworking, goodwill and fun!
                And the fact that you’ve always sent us feedbacks was very helpful for us: to know Victoria better, to find out how she interreacts with other kids.
                Many cheers from our side and thank you again!
                "
              </p>
            </div>
          </div>
        </div>
        <div class="testimonials-card col-md-4 col-md-push-0 col-sm-push-2 col-sm-8 col-xs-push-0 col-xs-12">
          <div class="thumbnail">
            <img src="../../images/testimonial3_andrei_mihai.jpg" class="img-circle">
            <div class="caption">
              <div class="testimonial-title">
                <h4>Andrei Mihai</h4>
                <p>Area Sales Manager</p>
              </div>
              <p class="testimonial-text">“Benchmarks to differentiate. <br>
                First and foremost, I think that involving the audience is the most relevant index when we want to evaluate the efficiency of a training session held by a professional for a group of a company’s employees.
                Let’s assume that everything from each of us is talking about would be music. Therefore, his or hers enactment, the gestures, hands’ movement, even the looks, have to follow that music. In a single word: passion. That would be the essential ingredient that makes the audience to trust in a gifted speaker.
                To guide, following a different pathway each and every time, different people to performance is, in my opinion, one of the greatest scopes of a coach or trainer.
                Three traits that make me believe in Elena’s adequacy? Energetic, dynamic and most of all, empathic.

                "</p>
            </div>
          </div>
        </div>
      </div><!-- row end !-->
    </div><!-- container end !-->
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="cat-title-raw">
                <h2>CONTACT</h2>
                <p>As said before, I hope that all upcoming professional experiences - shared with people that now I don't know - will prove to be unique. That's why I will always be "pleased to meet you",<br/>
                    Elena Niculiță
 </p>
            </div>
        </div><!-- row end !-->
        <div class="row">
            <div class="col-sm-5 col-xs-12">
                <h4>Contact form</h4>
              <form name="contactForm" ng-submit="$ctrl.clickedMe(params)">
                <div class="form-group">
                  <input type="text" ng-model="params.firstName" name="firstName" class="form-control" placeholder="Name" required>
                </div>
                <div class="form-group">
                  <input type="email" ng-model="params.emailAddress" name="emailAddress" class="form-control" placeholder="E-mail" required>
                </div>
                <div class="form-group">
                  <textarea class="form-control" ng-model="params.emailText" name="emailText" id="text" placeholder="Your text"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Send</button>
              </form>
            </div>
            <div class="col-sm-6 col-sm-offset-1 col-xs-12 contact-form-right">
                <h4>Contacts</h4>
                <div class="row date-contact">
                    <div class="col-sm-1 col-xs-1">
                        <span class="glyphicon glyphicon-phone"></span>
                    </div>
                    <div class="col-sm-11 col-xs-11">
                        <p>
                            +40 744 555 123
                        </p>
                    </div>
                </div><br/>
                <div class="row date-contact">
                    <div class="col-sm-1 col-xs-1">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </div>
                    <div class="col-sm-11 col-xs-11">
                        <p>
                            mail@re-minder.ro
                        </p>
                    </div>
                </div>
                <div class="row date-contact-social">
                    <div class="col-sm-2 col-xs-4">
                        <a href="#"><img src="../../images/fb_icon_big.png"></a>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <a href="#"><img src="../../images/whapp_icon_big.png"></a>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <a href="#"><img src="../../images/skype_icon_big.png"></a>
                    </div>
                </div>
            </div>
        </div><!-- row end !-->
    </div><!-- container end !-->
</section>
<footer class="end">
    <p>© Lorem ipsum dolor sit amet, consectetur adipisicing elit </p>
</footer>

<!-- modal despre tine -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >BEYOND WHAT YOU KNOW</h4>
      </div>
      <div class="modal-body">

        Have you lately thought about you being included in behavioural tables is purely artifficial?<br/><br/>
        The truth is that people, taken one by one, ar not hundred percent profound/superfficial, analytical/instinctive, effusive/restrained. They are - rocket scientists and ticket controllers equally included - unique, incompareable and unrepeatable. <br/><br/>
        Each and every individual acts - and reacts – depending on a specific context, based on a difuse fusion of inferences and emotions. This blend is hard to compute and almost impossible to „pigeonhole”. <br/><br/>
        The only reasonably acceptable statement would be that the nowadays humans are fundementally situational. Regardless his or her age, education, social status and influential circles. In fact, all these traits, along with many other factors, irrevocably define each individual’s personality. <br/><br/>
        Holding an affiliation card to „Homo contextualis” hyperclass is what you’re having in common with the ones around you. <br/><br/>
        Contemporary individuals are positioned themselves - or positioned by others, against their own will - in unique contexts, at different times. The problem is that he or she does not always succeed in defining those contexts. Which come one after another, assembling together his or her own existence.<br/><br/>
        Therefore, prior to any self-evaluation process, the first step is paramount. It consists in defining the personal context.<br/><br/>
        „Nosce te ipsum” is a well-known Latin phrase. In order to achieve performance within this inner challenge, you need a gifted, proficient help. Someone who should posses, besides the necessary tools and practicing record, the native will to chaperon you on the paths that define your existence. Especially when you reach a crossroad.<br/><br/>

        And that would be the time that calls for a coach.


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal despre mine-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >BEYOND WHAT I KNOW</h4>
      </div>
      <div class="modal-body">

        I have to confess: I find not easy at all to describe myself. That is not because I wouldn’t have a lot to tell about my experience as a coaching practitioner. But instead of talking, I usually choose to actually be there, to do things that the others will remember of.<br/><br/>
        I also have to admit: I am not, and never have been, an easy handling one. I think about what I’m saying and I say what I am thinking of. Out of respect for the one I’m talking to. Even when my words are not exactly those who the other wants to hear. I take that risk.<br/><br/>
        I am a perfectionist, a comprehensive and fair keen-observer, critical primarily with myself. I don’t choose the easy way in finding solutions. I rather look for the paths that give me confidence in perspectives. Or the perspective of assurance.<br/><br/>
        I hardly obey an authority, unless behind it there are individuals I appraise and whose actions  prove their value winthin out-of-the ordinary contexts. <br/><br/>
        I trully believe in fair-play and I stand on defensive when someone is trying to sweep away a rival by unequal weaponery or by unfair means. <br/><br/>
        I have the solid conviction that each individual is unique, incomparable and unreapeatable, therefore I indulge myself to hope that the experiences I will share with any of them will be alike.<br/><br/>
        Sometimes, having no sense of orientation and missing relevant benchmarks, the certitude of knowing everything, of being able to encompass the whole picture, all theese may generate stumbling blocks. In times like that, in my coaching sessions or training courses, I choose to lay down questions which focus on unnoticed details, or lead to surprising angles or options.<br/><br/>
        Using the observations I managed to bring together and collecting most of the shared experiences, I set up the theoretical basis of a brand new concept, which I will ellaborate deeper in the near future. The cornerstone of its essence is the hypothesis that people belong to a hyperclass, which I called „Homo Conextualis”. Your input concerning this project will be much of a help for me. <br/><br/>
        In the end, I can assert that now I am prepared, more than ever, to give rational and emotional support when called for. And that I have learned not to decline one’s request when asking me to go along on her or his way for a time.<br/><br/>
        Especially when reaching a crossroad. <br/><br/>

        This is me,<br/><br/>
        Elena Niculiță



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal One2One tine-->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >WATCHING IN A DIFFERENT LIGHT</h4>
      </div>
      <div class="modal-body">

        „My own life” is a tag that lost through recent times both its atributes of differentiation and the inner power of singularity.  One of the causes of this process is each one’s positioning in a „frame of reference”. <br/><br/>
        No one can live with the feelling of having everything. Nor with the impression of being easy to give up everything. That’s because one cannot belong to himself or herself hundred percent. The impact that everyone around you has upon your own being may sometimes lead to trublesome consequences: lack of accuracy and effectiveness in communication, futile regrets, less intense aspirations, painfully breakups and so on.
        The opposite way to look around is nevertheless sustainable. You may also have your own role, sometimes compelling, over the ones you relate with. The „frames of reference” multiply themselves, become layers, break apart and rejoin in different shapes. <br/><br/>
        „Homo Contextualis” has problems that cannot be solved by building understructures made out of alikeness. Your dilemas and states of anguish will never be identical with someone else’s. Consequently, your set of solutions to wipe out will never be the same with someone else’s. When you find yourself in a tight corner, you need someone able to take a step back, in order to keep an eye on and objectively evaluate your self-context. <br/><br/>
        Someone who could stand for the helpful hand that you didn’t consider so far as an option.<br/><br/>

        And that person could help you make the necessary step forward!


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal One2One mine-->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >BETWEEN YOU AND ME...</h4>
      </div>
      <div class="modal-body">

        I have never met so far someone to simultaneously be an actor in his or hers play and a spectator of it. „Homo Conextualis” encounters barriers in evaluating a contex and finding the right solution when trying to duplicate. <br/><br/>
        Today, we can find the best keys for removing these obstacles in a co-op formula: sportsman-coach, candidate – mentor, attendant – master. aspirant-îndrumător, discipol-maestru. The The relationship’s potentiality grows when the two of them proclaim to be equal on every account. <br/><br/>
        The inner power of the coaching process resides in the space created between the willing to change and the fear that the change would never happen. „I am the best , but you are the best too.” is the credo which I share with my client whenever I start a new coaching session. <br/><br/>
        No one knows better his or hers past, attempts, failures, emotions, thoughts and feelings than the person in front of me. He or she is the one to take decisions for the future. I support, from outside the personal frame, the effort to define the context. <br/><br/>
        Confidence ad respect are the two main pillars that help me to discover the potential and the resourcers that each and every individual holds. <br/><br/>
        I am not a partisan of stretching the sessions „sine die”. The convivial discussions centered on a clear-cut, explicit issue, held over a precise period of time, have increased chances of exploring.<br/><br/>
        One main body part of my method consists of a „glowing focus” on a single sequence, always keeping in mind that the shred cannot standalone outside the context.
        In real life, there is no such thing as stop motion and we cannot live without benchmarks and touchstones.<br/><br/>
        We just can’t force our own existence to accept a petition which claims „Hold on for a while, I have something to elucidate, only then I could go further”.<br/><br/>
        That is why finding an observer able to see the scene, the screen and the spectators becomes in many cases an imperative.<br/><br/>

        And taht is what I deal with!


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal Corporate tine-->
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >INSIDE-OUT</h4>
      </div>
      <div class="modal-body">

        Apparently, the easiest definition for „Homo Conextualis” to phrase is the one reffering to its own professional biosphere.<br/><br/>
        To define – yes. But not to evaluate. Even in large organisations, or especially within them, the hierarchies, positions and compatibilities are somehow well-established. Or they should be. At least on the surface.<br/><br/>
        Today, in almost every corporate structure, there is an almost cinical rule which reveals a tough inner reality: „The graveyards are full of indispensable men”.
        Regardless your position within an hierarchy, the horizontal and vertical inter-connectivity may bring into settings in which both personal and professional relations, together with your fulfillment, may be affected.<br/><br/>
        An organisation’s positioning on a collective marketplace might be easy to outline. To put into practice principles that lead to profficent results by eliminating malfunctions – this process could be harder.<br/><br/>
        Defining the context, both individual and as part of a group, becomes crucial. Taking a step back becomes a must.<br/><br/>
        Moreover, if the organization’s daily routine may be comprehended as a team sport, then when downturns occur or, on the contrary, when maximum potential is forseen, the team needs a savvy coach. Detached when it comes to evaluation, but involved when it comes to implement solutions.<br/><br/>

        And to whom you may address in full confidence with „Coach, I need your help!”



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal Corporate mine-->
<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >OUTSIDE-IN</h4>
      </div>
      <div class="modal-body">

        The teams, the jobs, horizontally and vertically built relationships, professional responsabilities, even the coffee breaks gossip – all these have complex attributes, sometimes hard to deal with. Because – remember? – no context is identical to another.
        Finding the access key to humans’ and organistaions’ resources implies expertise and the ability to see the whole picture. <br/><br/>
        The main objective I follow when my help and expertise are called for is to make the teeams, and the people who make the teams to dvelop their capacity to solve the problems are confronted with by themselves. <br/><br/>
        Finding the path to focus on, gathering relevant information, putting the finger on common likes and dislikes pinpoiting the details, are some of my main priorities when working with a team.<br/><br/>
        I never forget to bring to the surface topics that are meant not to be discussed. By doing this, I find unexpected, creative in order to redifine an entire setup.
        The dynamics of a team are of a high relevance in evaluating a team’s emotional adequacy, which may not always be positive.<br/><br/>
        I am in the position to reassert that I own the skills to look beyond the presumptive behaviour of an individual-as-part-of-a-team. And I almost always succed in discoverig his or her intrinsic resources, sometimes unexpected or unexplored. <br/><br/>

        And – yes! – I am pretty much sure that a team stands for much more than the sum of each memberțs individual potential.


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal Parenting tine-->
<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >GOT TIME?</h4>
      </div>
      <div class="modal-body">

        One of the most terrible enemies confronting nowadays parents is time.  <br/><br/>
        They don’t search, as Proust did, for their lost time. They don’t want just to regain. They want even more. They want to inflate the days, the hours, even the minutes spent together with the ones they gave birth to.<br/><br/>
        A reality hard to swallow for „Homo Contextualis” is that she or he doesn’t anymore find the time – as a unit of measurement, but also as an emotional dimension – for her or his own children.<br/><br/>
        The individual contexts, especially the proffessional ones, undermine their resources of lateral, creative thinking, which they wish to share.<br/><br/>
        The sequel? A child may witness parents’ dissatisfactions, sorrows or outbreaks. A child may put a self-embargo on his or hers natural will to apprehend, to assimilate, sometimes to perform.<br/><br/>
        One out of many solutions? Trustworthiness. Granted to a coach able to steer, to inspire, to challenge, to devote. In marketing terms – a „win-win situation”.<br/><br/>

        And in human terms – a mutual reward.


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal Parenting mine-->
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >DEEP-SEATED VALUES</h4>
      </div>
      <div class="modal-body">

        It might sound like a clichee, but no one stepped into life as a parent for children, but bearing the condition of a child for his or her parents. The way a mother and a father behave within their daily routine, the values that guide them, their aspirations or their unconfessed bitterness – all these become once and for all marks for their kids or teens. And they will precisely and inevitable influence their destinies. <br/><br/>
        It’s not easy at all to manage a „proffesional” relationship with a pampered, bumpy, or vulnerable child. Nor with parents overloaded with responsabilities. Frustred by their lack of time for their own children. <br/><br/>
        I have the profound conviction that such contexts can be changed and improved. As long as we are willingly to frame a team. In which to act as equals. Our mature experiences confirm the fact that some childs suffer from the fear of exposure, which inhibits communication and, consequently, diminishes the longing for a change.<br/><br/>
        Hopefully, we will always have a three-pillared relationship. And we will always pick up together the place and the time period that will give to all the involved full confidence.<br/><br/>
        From my perspective, I will make no step forward without an agreement from the team members. And I will take that only after I will write deep down in my mind each one’s feelings, emotions and needs. I will exchange roles with a kid when I will feel this technicque  can grant new angles for defining the big context. <br/><br/>
        I ask for agreement, both from parents and kids, for being part in the free talkings. For a parent who was told it should be part in the „game”, but without having trust in the benefits of a coaching session, or for a kid forced to play the game, tht will be another waste of time. Constrains are, in most of the cases, ineffective.<br/><br/>
        It is true: the changes will not occur at the first click. But they will become noticeable after some quality time of togetherness. <br/><br/>

        And it will be a time filled up with passion, imagination and responsability.




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<!-- modal Email true -->
<div class="modal fade" id="myModalMail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">E-mail notification</h4>
      </div>
      <div class="modal-body">
        Your e-mail has been sent succesfully
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modal Email false -->
<div class="modal fade" id="myModalMailError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">E-mail notification</h4>
      </div>
      <div class="modal-body">
        Your e-mail has not been sent. Please verify your connection and try again.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
