<div id="nav2" class="hidden-md hidden-sm hidden-xs">
  <div class="container-fluid">
    <div class="row">
      <ul class="nav nav-tabs center">
        <!--<li><a href="#/" scroll-to="desprenoi" offset="160">Despre tine</a></li>-->
        <!--<li><a href="#/" scroll-to="desprenoi" offset="160">Despre mine</a></li>-->
        <li><a href="#/" scroll-to="slider" offset="160">Home</a></li>
        <li><a href="#/" scroll-to="one2one" offset="160">De la om la om</a></li>
        <li><a href="#/" scroll-to="corporate" offset="160">Corporate</a></li>
        <li><a href="#/" scroll-to="parenting" offset="160">Parinti si copii</a></li>
        <li><a href="#/" scroll-to="testimonials" offset="160">Testimoniale</a></li>
        <li><a href="#/" scroll-to="contact" offset="160">Contact</a></li>
      </ul>
    </div> <!-- row end !-->
  </div><!-- container end !-->
</div>

<div id="slider">
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner fullHeight">
      <div class="item active">
        <img src="images/slide1.jpg" alt="...">
      </div>
      <div class="item">
        <img src="images/slide_2.jpg" alt="...">
      </div>
      <div class="item">
        <img src="images/slide3.jpg" alt="...">
      </div>
      <div class="carousel-caption">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-offset-0 col-md-12 col-sm-12 col-sm-offset-0 col-xs-offset-0 col-xs-12">
              <h1>COACHING &amp; TRAINING</h1>
              <p>to be aware or not to be aware</p>
              <button class="btn btn-warning" scroll-to="one2one" offset="160">MAI MULT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<section id="one2one">
  <div class="container-fluid">

    <div class="cat-title">
      <h2>
        DE LA OM LA OM
      </h2>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12 left-image">

      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 left-mid-text">
        <h3>Privind cu alți ochi</h3>
        <p>Nu am întâlnit până acum un om care sa poată fi actor în propria-i poveste și totodată spectator al acesteia. „Homo Conextualis” întâmpină dificultăți în analizarea circumstanțelor sale și în luarea unei decizii corecte atunci când încearcă acest dublu rol. <br><br>
          Cele mai bune soluții s-au regăsit dintotdeauna într-o formulă de echipă: sportiv-antrenor, discipol-maestru. Potențialul relației acestora crește atunci când raportul stabilit este de egalitate întrucât nimeni nu-și cunoaște mai bine propriul parcurs decât persoana din fața mea. De aceea, în urma unei sesiuni de coaching , tu ești cel care:<br>
          &nbsp; &nbsp; &#8226; are inițiativă și ia decizii<br>
          &nbsp; &nbsp; &#8226; găsește soluții<br>

        </p>
        <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal3">
          MAI MULT
        </button>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 right-mid-text">
        <h3>Între noi fie vorba...</h3>
        <p>În momente de cumpănă, ai nevoie de cineva care poate face un pas înapoi pentru a privi cu detașare contextul tău unic.  Și asta pentru ca tu să faci un pas înainte.<br/><br/>
          Când:<br>
          <span class="align-left">

          &nbsp; &nbsp; &#8226; întâmpini o situație dificilă la serviciu și încerci să o depășești<br>
          &nbsp; &nbsp; &#8226; punctul tău de vedere este adesea ignorat de colegi ori manageri<br>
          &nbsp; &nbsp; &#8226; tot amâni să iei decizia de a te rupe de locul de muncă<br>
          &nbsp; &nbsp; &#8226;	slujba actuală s-a dovedit a fi altceva decât ți-ar plăcea să faci și nu te mai regăsești<br>
          &nbsp; &nbsp; &#8226;	ai o relație de familie greu de gestionat ori apăsătoare și vrei să redescoperi calea către echilibru<br>
          </span>
        </p>
        <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal4">
          MAI MULT
        </button>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 right-image">

      </div>
    </div> <!-- row end !-->
  </div><!-- container end !-->
</section>
<section id="corporate">
  <div class="container-fluid">
    <div class="row">
      <div class="cat-title"><h2>CORPORATE</h2></div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12 left-text">
        <h3>De la jucator catre antrenor</h3>
        <p>În orice situație ne-am afla, este important să ne definim propriul context și să facem un pas înapoi.<br>
          Iar dacă asemănăm activitatea noastră cu un sport de echipă, atunci sportivii au nevoie atât în momentele nefavorabile, cât și în momentele de glorie, de un antrenor.
          <br/><br/>
          Dacă privim în ansamblu și avem antrenamentul necesar,  putem folosi resursele oamenilor și ale organizațiilor în depășirea diferitelor obstacole. Astfel, ne putem dezvolta abilitatea de a găsi soluții. Dinamica unei echipe oferă informații prețioase despre potențialul emoțional al membrilor săi.          <br>                                                         Misiunea antrenorului este de a descoperi resurse latente și a le valorifica în echipă întrucât aceasta reprezintă întotdeauna mai mult decât însumarea efortului fiecărui membru în parte.<br><br>
          Sesiunile de coaching sunt pentru tine dacă:

        </p>
        <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal5">
          MAI MULT
        </button>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 mid-image">

      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 right-text">
        <h3>De la antrenor catre jucator</h3>
        <p>
          <span class="align-left">
            Arta de a vinde - de la amatori la profesioniști<br/><br/>
            Programe:<br>
          &nbsp; &nbsp; &#8226; Crearea unui portofoliu de clienți/ produse<br>
          (atelier deschis – durată: 2 zile)<br>
          &nbsp; &nbsp; &#8226; Dezvoltarea portofoliului versus fidelizarea clienților<br>
          (atelier deschis – durată: 2 zile)<br>
          &nbsp; &nbsp; &#8226; Managementul  timpului – eficiență  și termene limită<br>
          (atelier deschis – durată: 2 zile)<br>
          &nbsp; &nbsp; &#8226; Comunicarea cu clienții: de la reclamații la satisfacție<br>
          (atelier deschis – durată: 1 zi)<br>
          &nbsp; &nbsp; &#8226; Clienții dificili – alte șanse pentru business<br>
          (atelier deschis – durată: 1 zi)<br>
          Metodologie pentru mediul corporate/ organizații<br>
</span>
        </p>
        <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal6">
          MAI MULT
        </button>
      </div>
    </div> <!-- row end !-->
  </div><!-- container end !-->
</section>
<section id="parenting">
  <div class="container-fluid">
    <div class="row">
      <div class="cat-title"><h2>PARINTI SI COPII</h2></div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12 left-image">

      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 left-mid-text">
        <h3>Ai timp?</h3>
        <p>Timpul este unul dintre cei mai mari inamici cu care se confruntă părinții zilelor noastre. Aceștia vor să dilate clipele pe care le petrec cu ființele cărora le-au dat viață, dorind ca timpul să capete valoare.<br/><br/>
          Părinții nu mai reușesc să găsească timp, nici ca mărime fizică, nici ca dimensiune emoțională, pentru proprii copii. Contextele individuale, mai ales cele profesionale, le subminează capacitatea de a privi în ansamblu și gândirea creativă în situațiile cu care se confruntă. Ca urmare, atât părinții, cât și copiii își pot inhiba dorința firească de cunoaștere, de exprimare artistică, de asimilare și dezvoltare.<br/><br/>
          Tot ce se petrece cu un copil într-un loc și într-un anumit moment este profund influențat de ceea ce se întâmplă înainte...și după aceea.<br/><br/>
          Toți părinții au pornit în viață cu statutul de copil, iar tot ceea ce au acumulat aceștia își poate lăsa amprenta asupra copiilor. În sesiunile de coaching prin artă, principiul definitoriu după care mă ghidez este lucrul în echipă, într-o relație trilaterală bazată pe egalitate: copil-părinte-coach. <br/><br/>
          Înainte de toate, vom avea o primă întâlnire în care evaluăm nevoile fiecăruia, înțelegem unde vrem să ajungem și întocmim împreună un plan de lucru.<br/><br/>
        </p>
        <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal7">
          MAI MULT
        </button>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 right-mid-text">
        <h3>Valori confirmate</h3>
        <p>
          <span class="align-left">
            Sesiunile de coaching prin artă pot fi individuale sau de grup.<br><br>
             Când ești părintele unui copil care:<br>
          &nbsp; &nbsp; &#8226;	se plictisește adesea<br>
          &nbsp; &nbsp; &#8226;	este dezordonat ori indisciplinat<br>
          &nbsp; &nbsp; &#8226;	petrece prea mult timp utilizând tehnologia modernă (telefon, tabletă, laptop, calculator)<br>
          &nbsp; &nbsp; &#8226;	de multe ori vrea să facă altceva decât ceea ce i se cere<br>
          &nbsp; &nbsp; &#8226;	are multă energie și puține modalități de a și-o consuma<br><br>
          ...sesiunile de Solution-Focused Coaching prin artă sunt pentru voi.<br><br>
          Sesiunile de coaching prin artă (personalizate în funcție de context) creează o ambianță emoțională care ajută participanții (părinți și copii):<br>
          &nbsp; &nbsp; &#8226;	să  capete siguranța necesară pentru a fi deschiși la nou<br>
          &nbsp; &nbsp; &#8226;	să  își asume responsabilități și să se autodisciplineze<br>
          &nbsp; &nbsp; &#8226;	să creadă în ceea ce sunt și în ce pot deveni<br>
          &nbsp; &nbsp; &#8226;	să asculte mai mult ce simte și gândește celălalt decât să vorbească<br>
          &nbsp; &nbsp; &#8226;	să se regăsească în diversele activități de coaching prin artă<br>
          &nbsp; &nbsp; &#8226;	să descopere talente ascunse care pot duce la performanță<br>
          </span>
        </p>
        <button class="btn btn-warning contact-btn" data-toggle="modal" data-target="#myModal8">
          MAI MULT
        </button>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 right-image">

      </div>
    </div> <!-- row end !-->
  </div><!-- container end !-->
</section>
<section id="testimonials">
  <div class="container">
    <div class="row">
      <div class="cat-title-raw">
        <h2>TESTIMONIALE</h2>
        <p>Pe parcursul a două decenii, am întâlnit, am lucrat și am dus la bun sfârșit proiecte de anvergură și diferite situații ce au avut la bază unele limitări (pe plan personal și profesional), dificultăți, termene limită. Câteva din părerile oamenilor cu care am format echipă spre rezolvarea diverselor cazuri se regăsesc în portofoliul de mai jos: </p>
      </div>
    </div><!-- row end !-->
    <div class="row">
      <div class="testimonials-card col-md-4 col-md-push-0 col-sm-push-2 col-sm-8 col-xs-push-0 col-xs-12">
        <div class="thumbnail">
          <img src="images/testimonial2_dragos_bunescu.jpg" class="img-circle">
          <div class="caption">
            <div class="testimonial-title">
              <h4>Dragoș Bunescu</h4>
              <p>Director Comercial Seven Card</p>
            </div>
            <p class="testimonial-text">„Cu un astfel de om te întâlnești o dată în viață. Dacă vrei să afli, adică să știi, ești al său. Așa cum eu sunt al Elenei. Elena m-a ajutat să înțeleg unele aspecte, detalii, care pentru mine erau reprezentarea lui „bau-bau”. Cum m-a ajutat Elena să îl îndepărtez pe „bau-bau”? Cu răbdare, perseverență și adaptare, tocmai pentru că nu sunt „cel mai liniștit client”. Pornind de la colaborarea profesională, Elena a construit și o relație de amiciție bazată pe respect.”
              "</p>
          </div>
        </div>
      </div>
      <div class="testimonials-card col-md-4 col-md-push-0 col-sm-push-2 col-sm-8 col-xs-push-0 col-xs-12">
        <div class="thumbnail">
          <img src="images/testimonial1_oana_stanila.jpg" class="img-circle">
          <div class="caption">
            <div class="testimonial-title">
              <h4>Oana Stănilă</h4>
              <p>Conferențiar Univ. Dr., A.S.E.</p>
            </div>
            <p class="testimonial-text">„Vă mulțumim tare mult pentru tot! Pentru dragostea cu care ați realizat atâtea activități instructive și, în același timp, distractive pentru copii, dar și pentru bucuria și felul deosebit de a împărtăși celor mici din experiența dumneavoastră artistică.
              Să știți că pe Victoria ați cucerit-o de la bun inceput!”

            </p>
          </div>
        </div>
      </div>
      <div class="testimonials-card col-md-4 col-md-push-0 col-sm-push-2 col-sm-8 col-xs-push-0 col-xs-12">
        <div class="thumbnail">
          <img src="images/testimonial3_andrei_mihai.jpg" class="img-circle">
          <div class="caption">
            <div class="testimonial-title">
              <h4>Andrei Mihai</h4>
              <p>Area Sales Manager</p>
            </div>
            <p class="testimonial-text">
              „Percepția mea despre facilitator: energic, dinamic, empatic. Am să detaliez: să presupunem că vorbim despre muzică. Astfel, mimica, gestica, mișcările mâinilor trebuie să urmeze muzica. Asta face ca publicul să creadă mai mult în ceea ce spui. Pe scurt: pasiune!”
              "</p>
          </div>
        </div>
      </div>
    </div><!-- row end !-->
  </div><!-- container end !-->
</section>
<section id="contact">
  <div class="container">
    <div class="row">

        <div class="col-lg-12">
        <h2>CONTACT</h2>
        <p class="text-center">Vă invit să îmi scrieți și să îmi povestiți despre voi.
        </p>

      </div>
    </div><!-- row end !-->
    <div class="row">
      <div class="col-sm-5 col-xs-12">
        <h4>Formular de contact:</h4>
        <form name="contactForm" ng-submit="$ctrl.clickedMe(params)">
          <div class="form-group">
            <input type="text" ng-model="params.firstName" name="firstName" class="form-control" placeholder="Nume" required>
          </div>
          <div class="form-group">
            <input type="email" ng-model="params.emailAddress" name="emailAddress" class="form-control" placeholder="E-mail" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" ng-model="params.emailText" name="emailText" id="text" placeholder="Introduceti textul"></textarea>
          </div>
          <button type="submit" class="btn btn-default">Trimite</button>
        </form>
      </div>
      <div class="col-sm-6 col-sm-offset-1 col-xs-12 contact-form-right">
        <h4>Date de contact:</h4>
        <div class="row date-contact">
          <div class="col-sm-1 col-xs-1">
            <span class="glyphicon glyphicon-phone"></span>
          </div>
          <div class="col-sm-11 col-xs-11">
            <p>
              +40 744 555 123
            </p>
          </div>
        </div><br/>
        <div class="row date-contact">
          <div class="col-sm-1 col-xs-1">
            <span class="glyphicon glyphicon-envelope"></span>
          </div>
          <div class="col-sm-11 col-xs-11">
            <p>
              mail@re-minder.ro
            </p>
          </div>
        </div>
        <div class="row date-contact-social">
          <div class="col-sm-2 col-xs-4">
            <a href="#"><img src="images/fb_icon_big.png"></a>
          </div>
          <div class="col-sm-2 col-xs-4">
            <a href="#"><img src="images/whapp_icon_big.png"></a>
          </div>
          <div class="col-sm-2 col-xs-4">
            <a href="#"><img src="images/skype_icon_big.png"></a>
          </div>
        </div>
      </div>
    </div><!-- row end !-->
  </div><!-- container end !-->
</section>
<footer class="end">
  <p>© Lorem ipsum dolor sit amet, consectetur adipisicing elit </p>
</footer>

<!-- ................ modals................ -->
<!-- ................................ -->
<!-- ................................ -->

<!-- modal despre tine -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">DINCOLO DE CE STII</h4>
      </div>
      <div class="modal-body">

        Te-ai gândit pînă acum că includerea ta în tipare de personalitate și șabloane comportamentale este artificială și pur speculativă? <br/><br/>
        Adevărul e că oamenii, luați unul câte unul, nu sunt pe de-a-ntregul nici-profunzi-nici superficiali, nici-cerebrali-nici-impulsivi, nici-expansivi-nici-rezervați. Sunt, de la proiectanții de rachete până la controlorii de bilete, unici și incomparabili.<br/><br/>
        Fiecare individ acționează - și reacționează - în funcție de context, de un amalgam difuz de raționamente și emoții. Acestea sunt greu de cuantificat și aproape imposibil de clasificat în profile valabile pentru grupuri mari de oameni.<br/><br/>
        Singura generalizare rezonabil acceptabilă ar putea fi aceea că individul contemporan este o ființă esențial situațională. Indiferent de vârstă, educație, statut social și sfere de influență. De fapt, chiar aceștia, ca și mulți alții, sunt factori care influențează, sensibil și definitiv, personalitatea irepetabilă a fiecărui individ. <br/><br/>
        Apartenența la supra-clasa „Homo Contextualis” este ceea ce tu ai în comun cu cei din jurul tău. Omul contemporan se situează, sau este situat independent de voința sa, în contexte unice, la momente diferite. Problema sa este că nu reușește întodeauna să definească aceste contexte. Care se succed, alcătuindu-i existența.<br/><br/>
        De aceea, înaintea oricărui proces de autoevaluare, primul pas, esențial, este definirea contextului personal.<br/><br/>
        „Nosce te ipsum” spuneau latinii. Pentru a obține performanță în această provocare autodefinitorie care este cunoașterea de sine, „Homo contextualis” are nevoie, astăzi, de un ajutor competent. De cineva care să aibă, pe lingă experiență și instrumente, disponibilitatea nativă de a te însoți, la nevoie, pe drumurile care îți definesc existența. Mai ales când ajungi la o răscruce.<br/><br/>

        Și atunci ajutorul de care ai nevoie devine antrenorul tău.

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal despre mine-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">DINCOLO DE CE STIU</h4>
      </div>
      <div class="modal-body">

        Mărturisesc: nu îmi este deloc ușor să mă descriu. Nu pentru că nu aș avea ce spune aici despre pregătirea și experiența mea profesională. În loc să vorbesc, însă, prefer să fiu alături, să mă implic, să fac lucruri de care ceilalți să își amintească.<br/><br/>
        Și recunosc: nu sunt nici acum, pentru că nu am fost niciodată, un om comod. Gândesc ce spun și spun ce gândesc. Din respect pentru interlocutor. Chiar și atunci când nu rostesc ceea ce își dorește să audă. Îmi asum acest risc. <br/><br/>
        Sunt o perfecționistă, exigentă  în primul rând cu mine, rațională, organizată și cu spirit de observație pătrunzător și echidistant. Nu aleg drumul facil în găsirea soluțiilor. Prefer calea care îmi dă certitudinea perspectivelor. Și perspectiva certitudinilor.
        Mă supun cu greu unei autorități dacă în spatele ei nu se află oameni pe care să îi prețuiesc  și ale căror fapte să le demonstreze valoarea în contexte ieșite din cotidian.
        Cred în fair-play și iau atitudine când cineva încearcă îndepărtarea adversarului prin luptă inegală sau cu mijloace incorecte. <br/><br/>
        Am certitudinea că fiecare individ este unic și irepetabil, de aceea îmi îngădui să sper că experiențele pe care le voi împărtăși cu oricare dintre ei se vor dovedi la fel.
        Uneori, în lipsă de orientare și de repere ferme, convingerea că știm totul, că vedem întregul, poate deveni gneratoare de obstacole. Și atunci, în sesiunile de coaching ori în orele de training, aleg să formulez întrebări care să concentreze lumina pe detalii neobservate din context, sau spre unghiuri și variante neluate în calcul.<br/><br/>
        În ultima perioadă, în urma observațiilor acumulate și a experiențelor împărtășite, am pus bazele teoretice ale unui concept pe care urmează să îl elaborez în viitorul apropiat.<br/><br/> Piatra de temelie a acestuia este ipoteza apartenenței indivizilor din societate la o supra-clasă pe care am numit-o „Homo Contextualis”. Mi-ar fi de ajutor, în viitor, să aflu părerea ta despre acest proiect taxonomic.<br/><br/>
        La final, pot să afirm că acum știu, mai mult decît orice, să ofer susținere când mi se solicită. Și că am învățat să nu refuz un om care îmi cere să îl însoțesc o perioadă pe drumul vieții sale. Mai ales când se află la o răscruce. <br/><br/>
        Aceasta sunt eu,<br/>
        Elena Niculiță


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal One2One tine-->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">PRIVIND CU ALȚI OCHI</h4>
      </div>
      <div class="modal-body">

        Nu am întâlnit până acum un om care sa poată fi actor în propria-i poveste și totodată spectator al acesteia. „Homo Conextualis” întâmpină dificultăți în analizarea circumstanțelor sale și în luarea unei decizii corecte atunci când încearcă acest dublu rol. <br><br>
        Cele mai bune soluții s-au regăsit dintotdeauna într-o formulă de echipă: sportiv-antrenor, discipol-maestru. Potențialul relației acestora crește atunci când raportul stabilit este de egalitate întrucât nimeni nu-și cunoaște mai bine propriul parcurs decât persoana din fața mea. De aceea, în urma unei sesiuni de coaching , tu ești cel care:<br>
        &nbsp; &nbsp; &#8226; are inițiativă și ia decizii<br>
        &nbsp; &nbsp; &#8226; găsește soluții<br>
        &nbsp; &nbsp; &#8226; clarifică pașii și drumul de urmat<br>
        &nbsp; &nbsp; &#8226; descoperă felul în care trebuie să acționeze și trece la fapte<br>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal One2One mine-->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">ÎNTRE NOI FIE VORBA...</h4>
      </div>
      <div class="modal-body">

        În momente de cumpănă, ai nevoie de cineva care poate face un pas înapoi pentru a privi cu detașare contextul tău unic.  Și asta pentru ca tu să faci un pas înainte.<br/><br/>
        Când:<br>


          &nbsp; &nbsp; &#8226; întâmpini o situație dificilă la serviciu și încerci să o depășești<br>
          &nbsp; &nbsp; &#8226; punctul tău de vedere este adesea ignorat de colegi ori manageri<br>
          &nbsp; &nbsp; &#8226; tot amâni să iei decizia de a te rupe de locul de muncă<br>
          &nbsp; &nbsp; &#8226;	slujba actuală s-a dovedit a fi altceva decât ți-ar plăcea să faci și nu te mai regăsești<br>
          &nbsp; &nbsp; &#8226;	ai o relație de familie greu de gestionat ori apăsătoare și vrei să redescoperi calea către echilibru<br>

        ...atunci sesiunile de Solution-Focused Coaching sunt pentru tine.<br><br>
        Solution-focused coaching este un proces simplu și direct între co-echipieri (coach-client). Fiecare ședință de 60 de minute ne va folosi pentru:<br>
        &nbsp; &nbsp; &#8226;	a pătrunde în profunzimea situației<br>
        &nbsp; &nbsp; &#8226;	a ne concentra pe ceea ce funcționează în cazul tău<br>
        &nbsp; &nbsp; &#8226;	a-ți (re)găsi și valorifica resursele<br>
        &nbsp; &nbsp; &#8226;	a găsi soluții<br>
        &nbsp; &nbsp; &#8226;	a utiliza două instrumente puternice:
        gândurile și cuvintele pentru reconturarea realității<br><br>

        Această abordare îți oferă timp de reflecție, iar procesul este de scurtă durată și are un impact puternic.


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal Corporate tine-->
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">DE LA JUCATOR CATRE ANTRENOR</h4>
      </div>
      <div class="modal-body">

        În orice situație ne-am afla, este important să ne definim propriul context și să facem un pas înapoi.<br>
        Iar dacă asemănăm activitatea noastră cu un sport de echipă, atunci sportivii au nevoie atât în momentele nefavorabile, cât și în momentele de glorie, de un antrenor.
        <br/><br/>
        Dacă privim în ansamblu și avem antrenamentul necesar,  putem folosi resursele oamenilor și ale organizațiilor în depășirea diferitelor obstacole. Astfel, ne putem dezvolta abilitatea de a găsi soluții. Dinamica unei echipe oferă informații prețioase despre potențialul emoțional al membrilor săi.          <br>                                                         Misiunea antrenorului este de a descoperi resurse latente și a le valorifica în echipă întrucât aceasta reprezintă întotdeauna mai mult decât însumarea efortului fiecărui membru în parte.<br><br>
        Sesiunile de coaching sunt pentru tine dacă:

        &nbsp; &nbsp; &#8226; ești manager în primele 3 luni de activitate<br>
        &nbsp; &nbsp; &#8226; în calitate de manager te confrunți cu situații dificile<br>
        &nbsp; &nbsp; &#8226; îți asumi noi proiecte, roluri ori misiuni<br>
        &nbsp; &nbsp; &#8226; te confrunți cu o atmosferă tensionată în echipă<br>
        &nbsp; &nbsp; &#8226; vrei să îți (re)construiești echipa<br>
        &nbsp; &nbsp; &#8226; dorești să stabilești parteneriate solide, de lungă durată<br><br>

        Programul de solution-focused coaching ne va folosi pentru:<br>
        &nbsp; &nbsp; &#8226;	a ajunge la un echilibru interior care să ducă la acțiuni constructive<br>
        &nbsp; &nbsp; &#8226;	a înțelege rostul „rezilienței” în relațiile cu subalternii/ superiorii și clienții<br>
        &nbsp; &nbsp; &#8226;	a-ți atinge potențialul pas cu pas<br>
        &nbsp; &nbsp; &#8226;	a-ți descoperi resursele<br>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal Corporate mine-->
<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">DE LA ANTRENOR CATRE JUCATOR</h4>
      </div>
      <div class="modal-body">

        Arta de a vinde - de la amatori la profesioniști<br/><br/>
        Programe:<br>
        &nbsp; &nbsp; &#8226; Crearea unui portofoliu de clienți/ produse<br>
        (atelier deschis – durată: 2 zile)<br>
        &nbsp; &nbsp; &#8226; Dezvoltarea portofoliului versus fidelizarea clienților<br>
        (atelier deschis – durată: 2 zile)<br>
        &nbsp; &nbsp; &#8226; Managementul  timpului – eficiență  și termene limită<br>
        (atelier deschis – durată: 2 zile)<br>
        &nbsp; &nbsp; &#8226; Comunicarea cu clienții: de la reclamații la satisfacție<br>
        (atelier deschis – durată: 1 zi)<br>
        &nbsp; &nbsp; &#8226; Clienții dificili – alte șanse pentru business<br>
        (atelier deschis – durată: 1 zi)<br>
        Metodologie pentru mediul corporate/ organizații<br><br>
<img class="img-responsive" src="../../images/corporate_fig1.png"><br><br>
        Relaționarea cu noi și cu ceilalți<br><br>
        Programe:<br>
        &nbsp; &nbsp; &#8226;	Managementul conflictelor<br>
        (atelier deschis – durată: 2 zile)<br>
        &nbsp; &nbsp; &#8226;	Reziliența: de la colegi la clienți – punte intre generații<br>
        (atelier deschis – durată: 2 zile)<br>
        &nbsp; &nbsp; &#8226;	Pasiune și motivație – dincolo de responsabilități și termene limită<br>
        (atelier deschis – durată: 1 zi)<br>
        Metodologie pentru mediul corporate/ organizații<br>
<img class="img-responsive" src="../../images/corporate_fig2.png">


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal Parenting tine-->
<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">ȘI CU TIMPUL CUM RĂMÂNE?</h4>
      </div>
      <div class="modal-body">


        <p>Timpul este unul dintre cei mai mari inamici cu care se confruntă părinții zilelor noastre. Aceștia vor să dilate clipele pe care le petrec cu ființele cărora le-au dat viață, dorind ca timpul să capete valoare.<br/><br/>
          Părinții nu mai reușesc să găsească timp, nici ca mărime fizică, nici ca dimensiune emoțională, pentru proprii copii. Contextele individuale, mai ales cele profesionale, le subminează capacitatea de a privi în ansamblu și gândirea creativă în situațiile cu care se confruntă. Ca urmare, atât părinții, cât și copiii își pot inhiba dorința firească de cunoaștere, de exprimare artistică, de asimilare și dezvoltare.<br/><br/>
          Tot ce se petrece cu un copil într-un loc și într-un anumit moment este profund influențat de ceea ce se întâmplă înainte...și după aceea.<br/><br/>
          Toți părinții au pornit în viață cu statutul de copil, iar tot ceea ce au acumulat aceștia își poate lăsa amprenta asupra copiilor. În sesiunile de coaching prin artă, principiul definitoriu după care mă ghidez este lucrul în echipă, într-o relație trilaterală bazată pe egalitate: copil-părinte-coach. <br/><br/>
          Înainte de toate, vom avea o primă întâlnire în care evaluăm nevoile fiecăruia, înțelegem unde vrem să ajungem și întocmim împreună un plan de lucru.<br/><br/>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal Parenting mine-->
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">VALORI CONFIRMATE</h4>
      </div>
      <div class="modal-body">

        Sesiunile de coaching prin artă pot fi individuale sau de grup.<br><br>
        Când ești părintele unui copil care:<br>
        &nbsp; &nbsp; &#8226;	se plictisește adesea<br>
        &nbsp; &nbsp; &#8226;	este dezordonat ori indisciplinat<br>
        &nbsp; &nbsp; &#8226;	petrece prea mult timp utilizând tehnologia modernă (telefon, tabletă, laptop, calculator)<br>
        &nbsp; &nbsp; &#8226;	de multe ori vrea să facă altceva decât ceea ce i se cere<br>
        &nbsp; &nbsp; &#8226;	are multă energie și puține modalități de a și-o consuma<br><br>
        ...sesiunile de Solution-Focused Coaching prin artă sunt pentru voi.<br><br>
        Sesiunile de coaching prin artă (personalizate în funcție de context) creează o ambianță emoțională care ajută participanții (părinți și copii):<br>
        &nbsp; &nbsp; &#8226;	să  capete siguranța necesară pentru a fi deschiși la nou<br>
        &nbsp; &nbsp; &#8226;	să  își asume responsabilități și să se autodisciplineze<br>
        &nbsp; &nbsp; &#8226;	să creadă în ceea ce sunt și în ce pot deveni<br>
        &nbsp; &nbsp; &#8226;	să asculte mai mult ce simte și gândește celălalt decât să vorbească<br>
        &nbsp; &nbsp; &#8226;	să se regăsească în diversele activități de coaching prin artă<br>
        &nbsp; &nbsp; &#8226;	să descopere talente ascunse care pot duce la performanță<br>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal Email true -->
<div class="modal fade" id="myModalMail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Notificare trimitere e-mail</h4>
      </div>
      <div class="modal-body">
        E-mail-ul dumneavoastra a fost trimis cu succes.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modal Email false -->
<div class="modal fade" id="myModalMailError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">E-mail notification</h4>
      </div>
      <div class="modal-body">
        E-mail-ul dumneavoastra nu a fost trimis. Va rugam verificati conexiunea dumneavoastra si mai incercat o data.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
